.footer {
    border: 1px solid black;
    padding: 3px;
    border-radius:5px;
    position:absolute;
    right:0;
    bottom:0;
}

#qr{
    border: 1px solid black;
    padding: 3px;
    border-radius:5px;
    position:absolute;
    right:0;
    top:0;
}

#power{
    border: 1px solid black;
    padding: 3px;
    border-radius:5px;
    position:absolute;
    left:0;
    top:0;
}
.special_control{
    height:20px;
}
.channel_list{
    width:100%; 
    margin: 0px;
    paddin: 0px;
}

.channel{
    border : 1px solid black;
    width : 19%;
    height : 100px;
    float : left;
}
